# Archivos compilados de Java
*.class

# Carpetas de salida/compilación
out/
target/
build/

# Archivos temporales
*.log
*.tmp

# Configuración local de IntelliJ
.idea/
*.iml

# Archivos comprimidos o generados
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Archivos del sistema
.DS_Store
Thumbs.db

# Crash logs de Java
hs_err_pid*
replay_pid*

# Archivos de VS Code
.vscode/
.history/

# Librerías locales para VS Code
lib-vscode/

# Librerías externas
/lib/
*.jar
*.war
*.ear
*.dll